// Navbar
//
// Adds a navigation bar to the top of the site.
//
// Markup:
// <nav id="header" class="top-navigation navbar">
// <a class="site-logo" href="#">
//   <img src="https://www.greenpeace.org/international/wp-content/themes/planet4-master-theme/images/gp-logo.svg" alt="Greenpeace">
// </a>
// <button
//     class="btn btn-navbar-toggle navbar-dropdown-toggle"
//     data-toggle="open"
//     data-target="#navbar-dropdown"
//     aria-expanded="false"
//     aria-label="{{ toggle_label }}"
// >
//   <span>Menu</span>
// </button>
// <ul id="navbar-dropdown" class="navbar-dropdown list-unstyled">
//   <li class="nav-item" id="country-select">
//     <button class="close-navbar-dropdown">
//       <span class="screen-reader-text">Close Menu</span>
//     </button>
//     <button
//         class="country-dropdown-toggle"
//         data-toggle="open"
//         data-target="#country-list"
//         aria-expanded="false"
//         aria-label="#"
//     >
//       <span class="screen-reader-text">...:</span> Navbar title
//       <span class="screen-reader-text">...</span>
//     </button>
//   </li>
//   <li class="nav-item wpml-ls-item">
//     <a class="nav-link" href="#">EN</a>
//     <a class="nav-link" href="#">NL</a>
//   </li>
//   <li class="nav-item">
//     <a class="nav-link" href="#">ABOUT US</a>
//   </li>
//   <li class="nav-item">
//     <a class="btn btn-donate" href="#">Donate</a>
//   </li>
// </ul>
// <button
//     class="navbar-search-toggle"
//     data-toggle="open"
//     data-target="#search_form"
//     aria-expanded="false"
//     aria-label="{{ data_nav_bar.navbar_search_toggle }}"
// >
//   <span class="screen-reader-text">Toggle search form</span>
// </button>
// <form id="search_form" action="#" class="form nav-item nav-search-wrap">
//   <input id="search_input" type="search" class="form-control" placeholder="Search"
//        value="" name="s" aria-label="Search">
//   <input id="orderby" type="hidden" name="orderby" value=""/>
//   <button class="top-nav-search-btn" type="submit">
//     <svg viewBox="0 0 32 32" class="icon"><use xlink:href="images/symbol/svg/sprite.symbol.svg#search"></use></svg>
//     <span class="screen-reader-text">Search</span>
//   </button>
// </form>
// </nav>
//
// Styleguide Layout.navbar
$menu-height-small: 3.375rem;
$menu-height-large: 3.75rem;
$min-height: 40px;
$navbar-default-height: 60px;

.top-navigation {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: normal;
  background: var(--campaign_nav_color, transparentize($dark-blue, 0.2));
  height: $menu-height-small;
  font-family: $roboto;

  html[dir="rtl"] & {
    text-transform: lowercase;
  }

  @include medium-and-up {
    height: $menu-height-large;
  }

  @include large-and-up {
    align-items: center;
  }

  a.nav-link {
    color: var(--nav-link-color, $white);

    &:hover {
      color: var(--nav-link-hover-color, $spray);
    }
  }

  .donate-nav-item {
    line-height: 1;
    height: $navbar-default-height;
  }

  .btn-donate {
    margin-top: 10px;
    height: 40px;
  }

  // Move header down when WordPress Admin Bar is present
  .admin-bar & {
    top: 46px;

    @media screen and (min-width: 783px) {
      top: 32px;
    }
  }
}

.site-logo,
.btn-navbar-toggle,
.navbar-search-toggle,
.country-dropdown-toggle,
.nav-item,
.nav-link {
  line-height: $menu-height-small;
  @include padding(0, $n15, 0, $n15);

  @include medium-and-up {
    line-height: $menu-height-large;
    font-size: $font-size-md;
  }
}

.btn-navbar-toggle,
.country-dropdown-toggle,
.nav-link {
  &.active,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    box-shadow: none;
    outline: 0;
  }
}

.navbar-search-toggle,
.btn-navbar-toggle {
  line-height: 2rem;
  margin: 11px;
  color: $white;
  z-index: 1;

  .icon {
    font-size: $font-size-md;
  }
}

.navbar-dropdown-toggle {
  order: -1;

  // When menu is open, turn the button into the background overlay
  &[aria-expanded="true"] {
    z-index: 2;
    background: transparentize($black, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    outline: 0;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin: 0;

    span {
      @extend .screen-reader-text;
    }
  }

  @include large-and-up {
    display: none;
  }
}

.navbar-search-toggle {
  cursor: pointer;
  border: 0;
  background: url("../../images/search.svg") center center no-repeat;
  background-size: 28px;
  margin-left: auto;

  &.open {
    outline: 0;
    background: url("../../images/close-icon.svg") center center no-repeat;
  }

  html[dir="rtl"] & {
    margin-left: 11px;
    margin-right: auto;
  }

  @include large-and-up {
    display: none;
  }
}

// Logo
//
// Greenpeace logo.
//
// Markup:
// <a class="site-logo" href="#">
//   <img src="https://www.greenpeace.org/international/wp-content/themes/planet4-master-theme/images/gp-logo.svg" alt="Greenpeace">
// </a>
//
// Styleguide Style.logo
.site-logo {
  position: absolute;
  width: 100%;
  text-align: center;

  @include large-and-up {
    position: static;
    width: auto;
    text-align: left;
    line-height: 1;
  }

  &:focus {
    box-shadow: none;
  }

  img {
    height: 1.25rem;

    @include small-and-up {
      height: 1.5rem;
    }

    @include large-and-up {
      height: 1.875rem;
    }
  }
}

.navbar-dropdown {
  display: none;
  margin: 0;
  list-style-type: none;
  height: 100vh;
  width: 300px;
  background-position: right $menu-height-small;

  html[dir="rtl"] & {
    left: auto;
    right: 0;

    .country-dropdown-toggle {
      text-transform: none;
    }
  }

  @include small-and-up {
    height: 100vh;
    width: 375px;
  }

  @include medium-and-up {
    width: 400px;
    background-position: right $menu-height-large;
  }

  @include large-and-up {
    height: auto;
    width: auto;
    background-position: 0% 0%;
  }

  &.open {
    display: flex;
  }

  li:first-child {
    z-index: 10;

    @include medium-and-up {
      z-index: 0;
    }
  }

  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.05);
  }

  // All other dropdown styles - This special rule has a 1px offset as it uses max-width instead of min-width
  @media (max-width: #{$large-width - 1}) {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    background: $dark-blue url("../../images/dropdown-gradient.svg") no-repeat;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;

    .close-navbar-dropdown {
      cursor: pointer;
      position: absolute;
      right: 0;
      height: $menu-height-small;
      width: $menu-height-small;
      background: url("../../images/close-icon.svg") center center no-repeat;
      z-index: 2;
      border: 0;

      html[dir="rtl"] & {
        right: auto;
        left: 0;
      }

      @include medium-and-up {
        height: $menu-height-large;
      }

      &:focus,
      &:hover {
        border: 1px dotted transparentize($white, 0.5);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 8px;
      background: transparentize($black, 0.9);
      z-index: 0;
    }

    .country-dropdown-toggle {
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      padding: 0 $n70 0 67px;

      html[dir="rtl"] & {
        text-align: right;
        padding: 0 67px 0 $n70;
      }

      &:before {
        content: "";
        position: absolute;
        top: 13px;
        left: 0;
        height: 1.75em;
        width: 50px;
        display: inline-block;
        background: url("../../images/country-icon.svg") center center no-repeat;
        border-right: 1px solid transparentize($white, 0.9);
        background-size: contain;

        html[dir="rtl"] & {
          left: auto;
          right: 0;
          border-right: none;
          border-left: 1px solid rgba(255, 255, 255, .1);
        }

        @include medium-and-up {
          top: 17px;
        }
      }
    }

    .nav-item {
      z-index: 1;

      &:last-child {
        flex-basis: 100%;
      }
    }

    .nav-link {
      padding: 0 $n40 0 $n50;
      display: block;
      line-height: 2.8125rem;
      font-size: $font-size-sm;
      margin: 0.5em 0;

      html[dir="rtl"] & {
        padding: 0 $n50 0 $n40;
      }
    }

    .active .nav-link,
    .nav-link:focus,
    .nav-link:hover {
      position: relative;
      z-index: 2;
      color: var(--nav-link-hover-color, $spray);
    }

    .active .nav-link::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      background: $spray;
      width: 8px;
      margin-left: -50px;
      z-index: 2;
    }

    .btn-donate {
      display: block;
      min-width: 200px;
      margin: 1.5em auto;
      padding: $n5 $n30;
    }
  }

  @include large-and-up {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0;

    .close-navbar-dropdown {
      display: none;
    }

    .nav-link {
      padding: 0;
      min-width: 20%;
      text-align: center;
      border-bottom: var(--nav-link-border-width, 2px) solid transparent;

      &:hover,
      &:focus,
      &:active {
        border-bottom: var(--nav-link-border-width, 2px) solid var(--nav-link-hover-border-color, $white);
      }
    }

    .active .nav-link {
      color: var(--nav-link-hover-color, $spray);
      border-bottom: var(--nav-link-border-width, 2px) solid var(--nav-link-active-border-color, $spray);
    }
  }

  @include x-large-and-up {
    padding: 0 15px;
  }

  .nav-item {
    margin: 0;
    padding: 0;
  }

  .wpml-ls-current-language {
    display: list-item;
  }
}

.nav-search-wrap {
  display: none;
  position: absolute;
  color: $search-text-colour;
  top: 100%;
  right: 0;
  width: 300px;
  padding: 11px;
  max-width: 80%;
  background: transparentize($dark-blue, 0.2);

  html[dir="rtl"] & {
    right: auto;
    left: 0;
  }

  &.open {
    display: block;
  }

  @include large-and-up {
    height: $navbar-default-height;
    position: relative;
    max-width: 20%;
    width: 400px;
    display: inline-block;
    padding: 0 15px;
    background: none;
    top: auto;
    right: auto;

    html[dir="rtl"] & {
      left: auto;
    }
  }

  input::placeholder {
    color: $grey-40;

    html[dir="rtl"] & {
      text-transform: lowercase;
    }
  }

  .top-nav-search-btn {
    background-color: $white;
    border: none;
    position: absolute;
    right: 12px;
    font-size: $font-size-md;
    line-height: 26px;
    color: $dark-blue;
    top: 11px;

    html[dir="rtl"] & {
      left: 12px;
      right: auto;
    }

    .icon {
      vertical-align: middle;
      font-size: $font-size-lg;
      top: 5px;
    }

    @include large-and-up {
      right: 16px;
      top: 9px;

      html[dir="rtl"] & {
        left: 16px;
        right: auto;
      }
    }
  }

  input.form-control {
    height: 40px;
    border: none;
    border-radius: 0;
    padding: $n5 $n10;

    @include large-and-up {
      margin-top: 9px;
    }

    &:not(:placeholder-shown):focus ~ .top-nav-search-btn {
      display: none;
    }
  }
}

.country-dropdown-toggle {
  cursor: pointer;
  font-size: $font-size-sm;
  border: 0;
  color: transparentize($white, 0.2);
  background: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color 100ms;

  background-color: $x-dark-blue;
  @include large-and-up {
    background-color: transparent;
  }

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    background: url("../../images/down-arrow-blue.svg") no-repeat center center;
    background-size: contain;
    display: inline-block;
    margin-left: 10px;
    transition: transform 300ms linear;
  }

  &:focus,
  &:hover {
    color: $white;

    &::after {
      background-image: url("../../images/down-arrow-white.svg");
    }
  }

  &[aria-expanded="true"] {
    &::after {
      transform: rotate(180deg);
    }
  }
}

.country-list {
  display: none;
  text-transform: none;
  background: $x-dark-blue;
  line-height: 1.5;
  padding: 1.4em 0;
  overflow-y: hidden;
  top: $navbar-default-height;

  &.open {
    display: block;
    overflow-y: scroll !important;
  }

  a {
    display: block;
    color: $white;
  }

  a:hover,
  .active a {
    color: $spray;
    text-decoration: none;
  }

  .country-group-letter {
    font-size: $font-size-sm;
    position: absolute;
    line-height: 1.5;
    font-weight: bold;
    color: $grey-40;
    @include margin($left: -$n25);

    html[dir="rtl"] & {
      @include margin($left: 0, $right: -$n25);
      text-transform: lowercase;
    }

    @include large-and-up {
      margin-left: -#{$n25};

      html[dir="rtl"] & {
        margin-left: 0;
        margin-right: -#{$n25};
      }
    }
  }

  > ul {
    padding: 0 0 2em;
    margin-top: 1.5em;
  }

  > a,
  li {
    position: relative;
    list-style: none;
    padding-left: 50px;
    font-size: $font-size-sm;
    break-inside: avoid;

    html[dir="rtl"] & {
      padding-left: 0;
      padding-right: 50px;
    }

    @include large-and-up {
      padding-left: 2em;

      html[dir="rtl"] & {
        padding-right: 2em;
        padding-left: 0;
      }
    }

    ul {
      break-inside: avoid;
      padding: 0;
      margin: 0 1em 1.2em 0;

      html[dir="rtl"] & {
        margin: 0 0 1.2em 1em;
      }
    }

    li {
      padding-left: 0;
      list-style: none;

      html[dir="rtl"] & {
        padding-right: 0;
      }
    }
  }

  @include large-and-up {
    position: absolute;
    height: 344px;
    width: 80%;
    left: 10%;
    overflow-x: hidden;
    overflow-y: hidden !important;
    max-height: 344px;
    max-height: calc(100vh - #{$menu-height-large});
    padding: 2em 4em 4em;

    .admin-bar & {
      max-height: calc(100vh - #{$menu-height-large} - 32px);
    }

    > ul {
      column-count: 3;
    }
  }
}

.nav-item.wpml-ls-item {
  @include large-and-up {
    margin-left: -20px;
  }

  @include x-large-and-up {
    margin-left: -60px;
  }

  .nav-link {
    display: inline;
    font-size: $font-size-xxs;
    padding: 0;

    html[dir="rtl"] & {
      padding: 0;
    }

    &:first-child {
      padding-left: 50px;

      html[dir="rtl"] & {
        padding-left: 0;
        padding-right: 50px;
      }

      @include large-and-up {
        padding-left: 0;

        html[dir="rtl"] & {
          padding-right: 0;
        }
      }
    }

    &:not(:last-child)::after {
      content: " | ";
    }
  }
}

.navigation-bar_min {
  height: $min-height;
  align-items: baseline;
  justify-content: start;

  .nav-item.wpml-ls-item {
    list-style: none;
    padding: 0;
    margin: 0 0 0 $space-lg;
    line-height: 1rem;

    .nav-link {
      margin: 0;
    }
  }

  .language-selector-min {
    position: absolute;
    top: 0;
    right: $space-lg;
    @include medium-and-up {
      position: relative;
    }
  }

  .site-logo,
  .btn-navbar-toggle,
  .navbar-search-toggle,
  .country-dropdown-toggle,
  .nav-item,
  .nav-link {
    line-height: 2.25rem;
    @include padding(0, 0, 0, 0);

    @include medium-and-up {
      line-height: 2.25rem;
      font-size: $font-size-md;
    }

    @include large-and-up {
      margin-left: 10px;
    }

    @include x-large-and-up {
      margin-left: 36px;
    }
  }

  .site-logo {
    position: absolute;
    width: 100%;
    text-align: center;

    @include large-and-up {
      position: static;
      width: auto;
      text-align: left;
    }

    &:focus {
      box-shadow: none;
    }

    img {
      height: 1.1rem;
    }
  }
}

// Enhanced mobile Donate button
.btn-donate {
  &.btn-donate-top {
    position: fixed;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 3.3rem;
    line-height: 3.3rem;
    top: 3.3rem;
    transition: top .2s;

    .admin-bar & {
      top: 6.2rem;
    }
  }

  &.btn-donate-top-hide {
    top: -3.3rem;

    .admin-bar & {
      top: -6.2rem;
    }
  }
}

body.with-donate-on-top {
  padding-top: 3.3rem;
}
