// Buttons
//
// Markup:
// <div class="mb-2">
//   <a href="/international/act/protect-the-oceans/" class="btn {{modifier_class}}">Protect our seas</a>
// </div>
//
// .btn-primary - Primary button
// .btn-secondary - Secondary button
//
// Styleguide Components.buttons
.btn,
.wp-block-button a,
.wp-block-file .wp-block-file__button {
  display: inline-block;
  position: relative;
  font-family: $roboto;
  font-size: $font-size-sm;
  text-align: center;
  text-decoration: none;
  color: $white;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  line-height: 3;
  padding: 0 $n30;
  appearance: none;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    text-decoration: none;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    opacity: .5;
    cursor: default;
  }
	&:focus{
	 outline:0;
	 box-shadow:0 0 0 2px rgba(0,106,255,0.6);
	}


	@supports #{'\selector(:focus-visible)'} {
	  &:focus:not(:focus-visible){
	   box-shadow:0 0 0 0 transparent;
	  }

	  &:focus-visible{
	   outline:0;
	   box-shadow:0 0 0 2px rgba(0,106,255,0.6);
	  }
	}
	@supports #{'\selector(:-moz-focusring)'} {
	  &:focus:not(:-moz-focusring){
	   box-shadow:0 0 0 0 transparent;
	  }
	  &:-moz-focusring{
	   outline:0;
	   box-shadow:0 0 0 2px rgba(0,106,255,0.6);
	  }
	}
}

.btn.text-transform-none,
.wp-block-button.text-transform-none a {
  text-transform: none;
}

.btn-small {
  font-size: $font-size-xxs;
  line-height: 2.8;
}

.btn-large {
  font-size: $font-size-md;
  line-height: 3.1;
}

.btn-primary,
.wp-block-button.is-style-cta a {
  background-color: $orange;
  color: var(--btn-primary-color, $white);;

  &:hover,
  &:focus {
    background-color: $orange-hover;
    border-color: $orange-hover;
  }

  &:active {
    background-color: $orange-active;
    border-color: $orange-active;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: $orange;
  }
}

.btn-secondary,
.wp-block-button.is-style-secondary a,
[class="wp-block-button"] a,
.wp-block-file .wp-block-file__button {
  background-color: transparentize($white, .7);
  border-color: $dark-blue;
  color: $dark-blue;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 40px;
  width: 100%;

  @include medium-and-up {
    margin-bottom: 40px;
    width: 50%;
  }

  @include large-and-up {
    margin-bottom: 0;
    width: 80%;
  }

  @include x-large-and-up {
    margin-bottom: 0;
    width: 60%;
  }

  &:visited {
    color: $dark-blue;
  }

  &:hover,
  &:focus {
    background-color: $dark-blue;
    border-color: $dark-blue;
    color: $white;
  }

  &:active {
    background-color: $active-blue;
    border-color: $active-blue;
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: $white;
    color: $dark-blue;
  }
}

// The new core buttons block wrap in "wp-block-buttons" class which apply
// extra css properties which break old button block UI.
.wp-block-buttons .wp-block-button {
  display: block !important;
  margin-left: unset;
  margin-right: unset;
}

.btn-action {
  background-color: transparentize($white, .8);
  border-color: $white;

  &:hover,
  &:focus {
    background-color: $orange;
    border-color: $orange;
  }

  &:active {
    background-color: $orange-hover;
    border-color: $orange-hover;
  }
}

.btn-donate,
.wp-block-button.is-style-donate a {
  background-color: var(--btn-donate-background-color, $aquamarine);
  color: var(--btn-donate-color, $grey);
  line-height: 1.65;
  min-width: 180px;
  margin: 0;
  padding: 2px $n30;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

  &:hover,
  &:focus {
    background-color: var(--btn-donate-hover-background-color, $spray);
    color: var(--btn-donate-hover-color, $grey-80);
  }

  &:active {
    background-color: var(--btn-donate-active-background-color, $java-dark);
  }

  &:disabled,
  &.disabled,
  &[disabled] {
    background-color: var(--btn-donate-background-color, $aquamarine);
  }

  @include large-and-up {
    font-size: $font-size-md;
  }
}

.btn-navbar-toggle {
  cursor: pointer;
  color: $gp-green;
  background-color: transparent;
  transition: background-color color font-weight 100ms;
  display: inline-block;

  &:hover,
  &:focus,
  &:active {
    color: $white;
    box-shadow: none;
    background-color: $x-dark-blue;
    border: 1px solid transparent;
  }

  @include small-and-up {
    background-color: $dark-blue;
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
  }
}

.btn-filter-item {
  background-color: transparent;
  border-color: $blue-tiber;
  color: $blue-tiber;
  padding: 0 $n50 0 $n30;
  position: relative;
  font-weight: 400;

  &:hover,
  &:focus {
    background-color: $blue-tiber;
    border-color: $blue-tiber;
  }

  &:active {
    background-color: $dark-tiber;
    border-color: $dark-tiber;
  }

  i {
    position: absolute;
    font-size: $font-size-xxs;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
  }
}

.btn-filter-item-solid {
  background-color: $blue-tiber;
  border-color: $blue-tiber;
  padding: 0 $n50 0 $n30;
  position: relative;
  text-transform: none;

  &:hover,
  &:focus {
    background-color: $genoa;
    border-color: $genoa;
  }

  &:active {
    background-color: $dark-tiber;
    border-color: $dark-tiber;
  }

  i {
    position: absolute;
    font-size: $font-size-xxs;
    right: 10px;
    top: 50%;
    transform: translate(0, -40%);
  }
}

.no-btn {
  background: transparent;
  border: transparent;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.btn-container{
	margin-top:16px;
}
