/* Features page styles */

#features-intro{
	background-color:transparent;
	background-image:url(img/features/p4-features-intro.jpg);
	background-repeat:no-repeat;
	background-position:right #{$space-md};
	background-size:calc(100% - #{$space-md}) auto;

	.features-intro-illo{
		padding-top:65%;
		margin-bottom:$space-md;
	}
	@media screen and (min-width:$small-width){
		background-size:80% auto;
		.features-intro-illo{
			padding-top:calc(65% * 0.8);
		}
	}
	@media screen and (min-width:$medium-width){
		.section-inner{
			align-items:center;
			display:grid;
			grid-gap:$space-lg;
			grid-template-columns:2fr 3fr;
		}
		.features-intro-content{
			order:-1;
		}

	}
	.section-title{
		font-size:2.5rem;
		margin-bottom:$space-md;
	}
	@media screen and (min-width:$medium-width){
		&{
			background-size:58% auto;
			background-position:right center;
		}
		.section-title{
			font-size:3rem;
		}
	}
	@media screen and (min-width:$large-width){
		.section-title{
			font-size:2.5rem;
		}
	}
	p{
		font-family:$roboto,sans-serif;
		font-size:18px;
	}
	.btn-container{
		margin-top:32px;
	}
}

#features-builder{
	background-color:$grey_05;
	background-image:url(img/features/p4-features-website-builder.png);
	background-position:left 32px;
	background-repeat: no-repeat;
	background-size:calc(100% - 32px);

	.feature-image-container{
		padding-top:78%;
	}
	@media screen and (min-width:$small-width) and (max-width:$medium-width){
		background-size:80%;
		.feature-image-container{
			padding-top:calc(80% * 0.8);
		}
	}
	@media screen and (min-width:$medium-width){
		background-position:left center;
		background-size:calc(50% - 32px);
	}

	.section-content{
		align-items:center;
	}
}

#features-engagement{
	position:relative;
	background-image:url(img/features/p4-features-engagement-petitions.png);
	background-position:right top;
	background-repeat: no-repeat;
	background-size:calc(100% - 32px);

	.feature-bg{
		background-color:#fff;
		background-image:url(img/features/p4-features-engagement-petitions.png);
		background-position:right top;
		background-repeat: no-repeat;
		background-size:calc(100% - 32px);
		opacity:0;
		position:absolute;
		top:0;
		transition:500ms all;
		height:100%;
		left:0;
		width:100%;
		z-index:1;
	}
	.feature-bg.active{
		opacity:1;
	}

	.section-inner{
		position:relative;
		z-index:2;
	}

	.feature-image-container{
		padding-top:calc(100% - 16px);
	}
	@media screen and (min-width:$small-width) and (max-width:$medium-width){
		background-size:80%;
		.feature-bg{
			background-size:80%;
		}
		.feature-image-container{
			padding-top:calc(95% * 0.8);
		}
	}
	@media screen and (min-width:$medium-width){
		background-position:right 80px;
		background-size:calc(45% - 32px);
		.feature-bg{
			background-position:right 80px;
			background-size:calc(45% - 32px);
		}
	}

	@media screen and (min-width:$medium-width){
		.feature-text-container{
			order:-1;
		}
	}
	.section-header{
		margin-bottom:$space-lg;
	}
	.coming-soon .expando-link{
		padding-top:24px;
		padding-bottom:8px;
	}
	.coming-soon .expando-link::before {
    content: 'Coming soon';
    display: inline-block;
    font-size: 0.7rem;
		left:-1px;
    position: absolute;
    top: 3px;
    padding: 1px 4px;
    background-color: $grey_10;
    border-radius: 4px;
    color: $grey_40;
	}
}

.features .features-list{
	margin-top:$space-xl;

	.feature-illo.feature-circle{
		align-items:center;
		background-color:#edf3fa;
		background-position: center;
		background-size:50% auto;
		background-repeat:no-repeat;
		border-radius:128px;
		display:flex;
		height:128px;
		justify-content:center;
		margin-left:auto;
		margin-right:auto;
		padding:$space-lg;
		width:128px;
		&.feature-secure-performant{
			background-image:url(img/features/p4-features-support-secure_performant.png);}
		&.feature-ci{
			background-image:url(img/features/p4-features-support-ci.png);}
		&.feature-privacy{
			background-image:url(img/features/p4-features-support-privacy.png);}
		img{
			max-height:100%;
		}
	}
	@include large-and-up{
		.feature-description{
			font-size:$font-size-sm;
		}
	}
}

#features-customizer{
	background-image:url(img/features/p4-features-campaigns.png);
	background-position:right top;
	background-repeat: no-repeat;
	background-size:calc(100% - 32px);
	padding-top:24px;
	padding-bottom:24px;
	.feature-image-container{
		padding-top:75%;
	}
	@media screen and (min-width:$small-width) and (max-width:$medium-width){
		background-size:80%;
		.feature-image-container{
			padding-top:calc(80% * 0.8);
		}
	}
	@media screen and (min-width:$medium-width){
		background-position:right center;
		background-size:calc(50% - 32px);
	}

	@media screen and (min-width:$medium-width){
		.feature-text-container{
			order:-1;
		}
	}
	.section-content{
		align-items:center;
	}
}

#features-extensible{
	background-image:url(img/features/p4-features-extensible.jpg);
	background-position:left top;
	background-repeat: no-repeat;
	background-size:calc(100% - 32px);
	padding-top:24px;
	padding-bottom:24px;
	.feature-image-container{
		padding-top:75%;
	}
	@media screen and (min-width:$small-width) and (max-width:$medium-width){
		background-size:80%;
		.feature-image-container{
			padding-top:calc(75% * 0.8);
		}
	}
	@media screen and (min-width:$medium-width){
		background-position:left center;
		background-size:calc(50% - 32px);
	}
	.section-content{
		align-items:center;
	}
}

#features-optimization{
	.optimization-list{
		display:grid;
		font-size:$font-size-sm;
		grid-template-columns:1fr;
		grid-gap:$space-md;
		margin-left:0;
		margin-top:$space-xl;
		padding-left:0;
		@media screen and (min-width:$medium-width){
			&{
				grid-template-columns:1fr 1fr;
			}
		}
		@media screen and (min-width:$large-width){
			&{
				grid-template-columns:1fr 1fr 1fr;
			}
			li p{
				font-size:$font-size-sm;
			}
		}

		li{
			list-style-type:none;
			margin-bottom:$space-md;
			padding-left:88px;
			position:relative;
		}
		li::before{
			background-color:#edf3fa;
			background-position:center;
			background-repeat:no-repeat;
			background-size:60% auto;
			border-radius:100px;
			content:'';
			display:block;
			height:72px;
			left:-2px;;
			position:absolute;
			top:-2px;
			width:72px;
		}
	}
	li p.optimization-title{
		font-weight:bold;
		font-size:$font-size-md;
		margin-bottom:$space-xs;
	}
	.optimization-traffic::before{
 	 background-image:url(img/features/p4-features-insights-tracking.png);}
  .optimization-dashboards::before{
 	 background-image:url(img/features/p4-features-insights-dashboards.png);}
  .optimization-url-tracking::before{
 	 background-size:50% auto;
 	 background-image:url(img/features/p4-features-insights-url.png);}
  .optimization-heatmaps::before{
 	 background-image:url(img/features/p4-features-insights-heatmaps.png);}
  .optimization-ab-testing::before{
 	 background-image:url(img/features/p4-features-insights-ab-test.png);}
  .optimization-cdn::before{
 	 background-image:url(img/features/p4-features-insights-cdn.png);}
  .optimization-list .optimization-surveys::before{
 		background-image:url(img/features/p4-features-insights-surveys.png);
 		background-size:52% auto;
		background-position: center 46%;}

}

.feature-image-container{
	font-size:0;
	margin-bottom:24px;
}

#features-integrations{
	.integrations-list{
		display:grid;
		grid-gap:$space-xl $space-md;
		grid-template-columns:repeat(2, 1fr);
		margin-top:$space-xl;
		padding-left:0;
		@media screen and (min-width:$medium-width){
			grid-template-columns:repeat(3, 1fr);
		}
		@media screen and (min-width:$large-width){
			grid-template-columns:repeat(6, 1fr);
		}
		li{
			list-style-type:none;}
	}
	.integration{
		align-items:center;
		display:flex;
		justify-content:center;

		img{
			display:block;
			max-height:4rem;
		}
	}
}
