/* Homepage styles */

body.homepage{
	background-color:#fff;
}

#homepage-intro{
	background-color:transparent;
	background-image:url(img/p4-homepage-header-illo2.jpg);
	background-repeat:no-repeat;
	background-position:right #{$space-lg};
	background-size:calc(100% - #{$space-lg} + 4px) auto;

	.homepage-intro-illo{
		padding-top:72%;
		margin-bottom:$space-md;
	}

	.section-title{
		font-size:1.75rem;
		margin-bottom:$space-md;
	}
	@media screen and (min-width:$medium-width){
		&{
			background-size:55% auto;
			background-position:right center;
		}
		.section-inner{
			align-items:center;
			display:grid;
			grid-template-columns:2fr 3fr;
			grid-gap:$space-md;
		}
		.homepage-intro-text{
			order:-1;
		}
		.section-title{
			font-size:2rem;
		}
	}
	@media screen and (min-width:$large-width){
		.section-title{
			font-size:2.25rem;
		}
	}
	p{
		font-family:$roboto,sans-serif;
		font-size:18px;
	}
	.btn-container{
		margin-top:32px;
	}
}

#homepage-wordpress{
	background-color:#EDF3FA;

	.section-illo{
		background-image:url(img/p4-illo-wordpress.png);
		background-size:contain;
		background-repeat:no-repeat;
		background-position:top left;
		width:100%;
		margin-bottom:$space-md;
		padding-top:69%;
		transform:scale(1.05);
		@media screen and (min-width:$small-width) and (max-width:$medium-width){
			background-size:65%;
			background-position:top center;
			padding-top:calc(69% * 0.65);
		}
	}

	@media screen and (min-width:$medium-width){
		.section-content{
			display:flex;
			align-content:center;
		}
	}
}

#homepage-campaigns{
	background-image:url(img/p4-illo-campaign_pages.jpg);
	background-size:95% auto;
	background-repeat:no-repeat;
	background-position:right top;
	margin-top:$space-md;

	.section-illo{
		margin-bottom:$space-md;
		order:2;
		padding-top:70%;
		@include medium-and-up{
			margin-top:0;
			padding-top:55%;
		}
	}
	@media screen and (min-width:$small-width) and (max-width:$medium-width){
		background-size:80% auto;
		.section-illo{
			padding-top:calc(70% * 0.8);
		}
	}
	@include medium-and-up{
		background-size:48% auto;
		background-position:right center;
		padding-top:0;
		padding-bottom:0;

		.section-illo{
			padding-top:calc(70% + 11vw);
		}
	}




}

#homepage-features{
	.section-header{
		@include medium-and-up{
			text-align: center;
		}
	}
}
.features-list{
	display:grid;
	grid-gap:$space-md;
	grid-template-columns:repeat(1, 1fr);
	margin-top:$space-xxl;
	margin-bottom:$space-lg;
	padding-left:0;

	@include small-and-up{
		grid-gap:$space-xl;
		grid-template-columns:repeat(2, 1fr);
	}
	@include large-and-up{
		grid-template-columns:repeat(3, 1fr);
	}

	.feature{
		list-style-type:none;
		margin-bottom:$space-md;
		text-align:center;
	}
	@media screen and (min-width:$small-width) and (max-width:$large-width){
		li:last-child {
			grid-column: 1 / 3;
			max-width: calc(50% - 16px);
			margin: 0 auto;
		}
	}
	.feature-illo{
		background-color:$grey_10;
		background-repeat:no-repeat;
		background-size:cover;
		border-radius:4px;
		padding-bottom:62.5%;
		margin-bottom:$space-sm;
		@include medium-and-up{
			margin-bottom:$space-md;
		};
	}
	.feature-illo-builder{
		background-image:url(img/p4-illo-website_builder.png);
	}
	.feature-illo-engagement{
		background-image:url(img/p4-illo-engagement_tools.png);
	}
	.feature-illo-analytics{
		background-image:url(img/p4-illo-analytics.png);
	}
	.feature-title{
		font-size:$font-size-lg;
		margin-top:0;
		margin-bottom:$space-sm;
	}

	.feature-learn_more{
		font-family:$roboto;
	}

}
.features-more-container{
	text-align: center;}

#homepage-resources{

	.resources-list{
		display:grid;
		grid-gap:$space-lg;
		grid-template-columns:repeat(1, 1fr);
		margin-top:$space-xxl;
		margin-bottom:$space-xxl;
		padding-left:0;

		@include small-and-up{
			grid-template-columns:repeat(1, 1fr);
		}
		@include large-and-up{
			grid-template-columns:repeat(3, 1fr);
		}

		.resource{
			box-shadow:0 1px 5px rgba(0,0,0,0.16);
			border-radius:4px;
			list-style-type:none;
			padding:24px;}

		.resource-title{
			font-size:$font-size-lg;
			margin-top:0;
			margin-bottom:$space-md;}

		.resource-learn_more{
			font-family:$roboto;
		}
	}
	.resources-more-container{
		text-align:center;}

}

#homepage-testimonials{
	background-color:#EDF3FA;
	background-image:url(img/p4-illo-screenshot.jpg);
	background-position:right 95%;
	background-repeat:no-repeat;
	background-size:calc(100% - #{$space-lg}) auto;
	padding-bottom:80%;
	@include small-and-up{
		padding-bottom:$space-xl;
		background-position:75vw $space-lg;
		background-size:auto 80%;
	}
	@include medium-and-up{
		background-position:61vw $space-xl;
	}
	.section-illo{

	}

	.section-inner{
		margin:$space-md auto $space-sm;
		@media screen and (min-width:$small-width) and (max-width:$medium-width){
			display:grid;
			grid-template-columns:80% 1fr;
			.section-illo{

				margin-top:0;
			}
		}
		@include medium-and-up{
			align-items:center;
			display:grid;
			grid-gap:$space-xl;
			grid-template-columns:3fr 2fr;
		}
	}

	.section-header{
		display:none;
	}
	.testimonial,
	.testimonial blockquote{
		font-family:$lora;
		margin:0 auto;
		position:relative;
		max-width:28em;
		@include large-and-up{
			font-size:$font-size-xl;
		}
	}
	.testimonial blockquote::before{
		content:'"';
		font-size:2.5rem;
		position:absolute;
		left:-1.1rem;
		line-height:1em;
		@include medium-and-up{
			font-size:4rem;
			left:-2rem;
			line-height:1em;

		}
	}
	.testimonial blockquote::after{
		content:' "';
		font-size:2.5rem;
		line-height:1em;
		position:absolute;
		padding-left:4px;
	}
	figcaption{
		align-items:center;
		display:flex;
		font-family:$roboto;
		font-size:$font-size-sm;
		margin-top:$space-lg;
	}
	figcaption img{
		background-color:#aaa;
		border-radius:100px;
		display:inline-block;
		height:$space-lg;
		margin-right:$space-sm;
		width:$space-lg;
		@include medium-and-up{
			height:$space-xl;
			margin-right:$space-md;
			width:$space-xl;
		}
	}

	.section-content{
		@include medium-and-up{

		}
	}
}

#homepage-team{
	.section-inner{
		@include medium-and-up{
			align-items:center;
			display:grid;
			grid-gap:$space-xl;
			grid-template-columns:2fr 3fr;
		}
	}

	.section-header{
		text-align:left;
		margin-bottom:$space-sm;
	}
	.section-description{
		display:none;
	}
	.section-content{
		align-items:center;
	}
	.homepage-team-image{
		display:grid;
		grid-template-columns:repeat(5, 1fr);
		grid-gap:$space-md;
		margin-top:$space-lg;
		@include small-and-up{
			grid-template-columns:repeat(8, 1fr);
		}
		@include medium-and-up{
			margin:0;
			grid-gap:$space-lg;
			grid-template-columns:repeat(5, 1fr);
		}
	}
}

#contact{
	background-color:$dark_blue;
	color:#fff;
	margin-bottom:0;
	.section-inner{
		@media screen and (max-width:$medium-width){
			padding:$space-md 0;
		}

		@include medium-and-up{
			display:grid;
			grid-gap:$space-xxl;
			grid-template-columns: 4fr 3fr;
		}
		@include large-and-up{

		}
	}
	.section-header{
		display:none;
	}
	.contact-intro{
		margin-bottom:$space-lg;
	}
	.contact-headline{
		font-size:$font-size-xl;
		font-family:$roboto;
		font-weight:bold;
		line-height:1.3;
		@include large-and-up{
			font-size:$font-size-xxl;
			line-height:1.15;
		}
	}
	.contact-lead-para{
		font-size:$font-size-md;
		line-height:1.6;
	}
	.contact-form{
		@include large-and-up{
			.input-radio-group{
				margin:$space-md 0 $space-lg;
			}
		}
	}
}
