/* Section styles */
.section{
	padding:$space-lg;
	margin-bottom:$space-xl;

	@include medium-and-up{
		padding:$space-xxl;
	}
	@include large-and-up{
		padding:72px $space-xxl;
	}
}
.section-inner{
	margin-left:auto;
	margin-right:auto;
	max-width:1140px;
	width:100%;
}
.section-header{
	margin-bottom:$space-md;
}
.section-title{
	margin-bottom:$space-xs;
	@include medium-and-up{
		margin-bottom:$space-md;
	}
}

/* Intro section */
.section-intro{
	align-items:center;
	display:flex;
	min-height:400px;
	padding-top:$space-xxl;

	.section-title{
		text-align:inherit;
		font-size:$font-size-xxl;
	}
}

.btn-container{
	display:flex;}

.col-2{

	@include medium-and-up{
		display:grid;
		grid-gap:$space-xxl;
		grid-template-columns:1fr 1fr;
	}
	.section-content{
		align-content:center;
		display:flex;
		flex-wrap:wrap;
	}
}
