html,
body {
  overflow-x: hidden;
}

body {
  color: $grey-80;
  font-family: $roboto;
	font-size:16px;
  position: relative;
  overflow-y: hidden;
  background-color: var(--body-background-color, $white);

  &.search {
    font-family: $roboto;
  }

  .mejs-container {
    clear: initial;
  }
}

.container > * {
  position: relative;
  z-index: 2;
}

img, iframe, video{
	max-width:100%;
}
