// Colors
//
// Styleguide Style.colors

// Primary
//
// $black - #000;
// $white - #fff;
//
// Styleguide Style.colors.primary
$black: #000;
$white: #fff;

// Grey
//
// $grey-80: #020202;
// $grey: #23292d;
// $grey-60: #45494c;
// $grey-40: #6f7376;
// $grey-20: #a3a5a7;
// $grey-10: #ececec;
// $grey-05: #f5f7f8;
//
// Styleguide Style.colors.grey
$grey-80: #020202;
$grey: #23292d;
$grey-60: #45494c;
$grey-40: #6f7376;
$grey-20: #a3a5a7;
$grey-10: #ececec;
$grey-05: #f5f7f8;

// Green
//
// $gp-green - #66cc00; used only on the GP wordmark
// $gp-green-80 - #8bcc49;
// $gp-green-20 - #e3f2d3;
// $green - #003300;
// $green-80 - #1b4a1b;
// $green-20 - #d9e6d7;
//
// Styleguide Style.colors.grey
$gp-green: #66cc00;
$gp-green-80: #8bcc49;
$gp-green-20: #e3f2d3;
$green: #003300;
$green-80: #1b4a1b;
$green-20: #d9e6d7;

// Blue
//
// $blue - #2077bf;
// $blue-80 - #3290de;
//
// Styleguide Style.colors.blue
$blue: #2077bf;
$blue-60: #63bbfd;
$blue-80: #3290de;

// Link colors
$link-color: #006dfd; // hsl(214, 100%, 50%);
$link-hover-color: #0058cc; // hsl(214, 100%, 40%);

// Yellow
//
// $yellow - #ffd204;
//
// Styleguide Style.colors.yellow
$yellow: #ffd204;
$yellow-20: #fff6cd;

// Orange
//
// $orange - #f36d3a;
// $orange-hover - #ee562d;
// $orange-active - #cd4525;
//
// Styleguide Style.colors.orange
$orange: #f36b35;
$orange-hover: #ee562d;
$orange-active: #dd4a22;

// Various greens:
$eden:              #0f6459;
$dark-tiber:        #052a30;
$inch-worm:         #a7e021;

// Various blues:
$x-dark-blue:  #042233;
$dark-blue:    #074365;
$active-blue:  #05324c;
$spray:        #86eee7;
$aquamarine:   #68dfde;
$java:         #1bb6d6;
$java-dark:    #21cbca;
$allports:     #007799;
$blue-elm:     #22938d;
$faded-jade:   #418482;
$genoa:        #186a70;
$blue-tiber:   #093944;
$menu-blue:    #014c8c;
$comment-block:#e7ecf0;
$comment-text: #d1dce2;

// Various reds:
$peach:       #eaccbb;
$crimson:     #e51538;
$red:         #a01604;

// Need to be re-assigned colors.
$blue:      #2980b9;
$brown-bg:  #faf7ec;
$red:       #ad2330;
$med-blue:  #0a3351;

// Social buttons
$facebook: #3b5998;
$twitter:  #55acee;
$email:    #ea7179;
$whatsapp: #25d366;

// Used colors
$active:                #aed4c7;
$darkb-blue-text:       #264042;
$header-footer-bg:      #030403;
$light-blue-bg:         #d6e6f2;
$light-blue:            #67b2af;
$percentage-text:       #017e7a;
$top-nav:               #1e5f65;

// Used once.
$body-bg:               #b0d4c8;
$heading:               #004d53;
$step-number:           #a7a7a7;
$brown-header:          #5c1f10;
$single-bg:             #f6f4e7;

// Colors to be fixed/addressed:
$article-heading-color:	#152431;
$search-text-colour:    #115247;
$blue-top-nav:          $dark-blue;
$carousel-indi-color:   #8bcc49;
$shadow-color:          $grey-60;
$cookie-bkg:            #c0dbe2;
$cookie-blue:           #094464;

// Table/spreadsheet colors
$table-font-color: #020202;

// Background colors
// Grey variant (default)
$table-header-grey: #45494c;
$table-odd-row-grey: #ececec;
$table-even-row-grey: #f5f7f8;
$table-footer-grey: #e0e4e7;

// Green variant
$table-header-green: #073d14;
$table-odd-row-green: #d0fac9;
$table-even-row-green: #eafee7;
$table-footer-green: #d1e8cd;

// Blue variant
$table-header-blue: #074365;
$table-odd-row-blue: #c9e7fa;
$table-even-row-blue: #e7f5fe;
$table-footer-blue: #c3d7e2;

// Allower colors for blocks palette
$palette: (
  "grey-80": $grey-80,
  "grey-60": $grey-60,
  "grey-40": $grey-40,
  "grey-20": $grey-20,
  "grey-10": $grey-10,
  "grey": $grey,
  "green": $green,
  "green-80": $green-80,
  "gp-green": $gp-green,
  "dark-tiber": $dark-tiber,
  "genoa": $genoa,
  "inch-worm": $inch-worm,
  "x-dark-blue": $x-dark-blue,
  "allports": $allports,
  "spray": $spray,
  "dark-blue": $dark-blue,
  "blue": $blue,
  "blue-60": $blue-60,
  "crimson": $crimson,
  "orange-hover": $orange-hover,
  "yellow": $yellow
);


@each $name, $color in $palette {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}
